$ams-space-0: 0;
$ams-space-1: 0.25rem;  // 4px
$ams-space-2: 0.5rem;   // 8px
$ams-space-3: 0.75rem;  // 12px
$ams-space-4: 1rem;     // 16px
$ams-space-5: 1.25rem;  // 20px
$ams-space-6: 1.5rem;   // 24px
$ams-space-8: 2rem;     // 32px
$ams-space-10: 2.5rem;  // 40px
$ams-space-12: 3rem;    // 48px
